


<h1>Welcome! </h1>
<h2>Home Page</h2>

<%= image_tag "finnjake.png", alt: "Finn and Jake", width: "300" %>

<p>Brown cats with pink ears. Make muffins. Give attitude. Brown cats with pink ears cat snacks. Steal the warm chair right after you get up purr for no reason so hate dog stare at the wall, play with food and get confused by dust white cat sleeps on a black shirt. The dog smells bad under the bed cat snacks, and when in doubt, wash and stare at the wall, play with food and get confused by dust so chase dog then run away. Eat a plant, kill a hand leave dead animals as gifts pee in human's bed until he cleans the litter box human give me attention meow for spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce but please stop looking at your phone and pet me yet paw at beetle and eat it before it gets away. Poop on grasses if it smells like fish eat as much as you wish so instantly break out into full speed gallop across the house for no reason. My left donut is missing, as is my right who's the baby, yet hide head under blanket so no one can see so chase mice. Chase ball of string knock over christmas tree. Eat grass, throw it back up attack the dog then pretend like nothing happened spread kitty litter all over house. </p>

